/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, sans-serif;
    background: #e2e8ef;
}

/* ========== GRID A: PAGE ========== */
.page {
    display: grid;
    grid-template-columns: 260px 1fr;
    min-height: 100vh;
}

/* SIDEBAR */
.sidebar {
    background: #1992d4;
    color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

/* ========== GRID B: APP ========== */
.app {
    display: grid;
    grid-template-rows: auto 1fr;
}

/* HEADER */
.header {
    background: white;
    padding: 1.5rem 2rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.header-top,
.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header input {
    width: 400px;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: none;
    background: #e2e8ef;
}

.actions {
    display: flex;
    gap: 1rem;
}

.actions button {
    background: #1992d4;
    color: white;
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
}

/* ========== GRID C: CONTENT ========== */
.content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 2rem;
    padding: 2rem;
}

/* ========== GRID D: PROJECTS ========== */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 1.5rem;
}

.card {
    background: white;
    padding: 1.5rem;
    border-radius: 10px;
    border-left: 6px solid orange;
    box-shadow: 0 8px 15px rgba(0,0,0,0.1);
    font-size: 0.85rem;
}

/* ASIDE */
.right-panel {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.panel {
    background: white;
    padding: 1.5rem;
    border-radius: 10px;
    font-size: 0.75rem;
    line-height: 15px;
}

.header-bottom a{
    text-decoration: none;
    color: white;
}
.header-bottom a:hover, .nav a:hover {
    opacity: 0.8;
}